

<% unless session[:access_token] %>
  
<header>

<h1>Welcome!</h1>
  <hgroup>
    <h3>
      <% if @profiles %>
        Nice to see you again! 
      <% else %>
        Built by <a href="http://twitter.com/#!/captcussa">Malachai Frazier I</a>
      <% end %>
    </h3>
  </hgroup>

</header>

<% if session[:access_token] %>

  <p> <a href="/logout">Log out</a> </p>

<% end %>

<header>

  <% %w[twitter].each do |service| %>
    <h2>
      <%= service.capitalize %>
      <% if @profiles && @profiles[service] %>
        mightily connected as <%= @profiles[service] %>.
      <% else %>
        is not connected.
        <a href="/auth/singly?service=<%= service %>">Psst...connect here.</a>
      <% end %>
    </h2>
  <% end %>

</header>
  
  <%else%>
  


<section id="add">
	<form action= "/" method= "post">
		<textarea name="content" placeholder="Slap your note down here&hellip;"></textarea>
		<input type="submit" value="Take Note!!"></input>
	</form>
</section>



<% @notes.each do |note| %>
	<article <%= 'class= "complete"' if note.complete%> >
		<p>
			<%=h note.content  %>
			<span><a href="/<%= note.id %>">[ edit ]</a></span>
		</p>	
		<p class="links">
			<a href="/<%= note.id %>/complete">&#8623;</a>
		</p>
		<p class="meta">Created: <%= note.created_at %></p>

		<!-- Condititional  Updates-->
		<p class="meta">
		<% if note.updated_at != note.created_at %>
		Updated At: <%= note.updated_at %>

		<% else %>
		Not updated yet...
		<% end %>
		</p>

	</article>
<% end %> 

<% end %> 

