<header>

<h1>Welcome!</h1>
  <hgroup>
    <h3>
        Built by <a href="http://twitter.com/#!/captcussa">Malachai Frazier I</a>
    </h3>
  </hgroup>

</header>

<section id="add">
	<form action= "/" method= "post">
		<textarea name="content" placeholder="Slap your note down here&hellip;"></textarea>
		<input type="submit" value="Take Note!!"></input>
	</form>
</section>

<% @notes.each do |note| %>
	<article <%= 'class= "complete"' if note.complete%> >
		<p>
			<%=h note.content  %>
			<span><a href="/<%= note.id %>">[ edit ]</a></span>
		</p>	
		<p class="links">
			<a href="/<%= note.id %>/complete">&#8623;</a>
		</p>
		<p class="meta">Created: <%= note.created_at %></p>

		<!-- Condititional  Updates-->
		<p class="meta">
		<% if note.updated_at != note.created_at %>
		Updated At: <%= note.updated_at %>

		<% else %>
		Not updated yet...
		<% end %>
		</p>

	</article>
<% end %> 


