<!doctype html>
<html lang="en">

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>

  	<!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
	<meta charset="utf8">
	<title><%= "#{@title} | #{SITE_TITLE}" %> </title>
	<link href="/reset.css" rel="stylesheet"/>  
  	<link href="/style.css" rel="stylesheet"/>
 
  	<link href="/rss.xml" rel="alternative" type="application/rss+xml" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  	<script src="/javascripts/modernizr.foundation.js"></script>
  	
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  	
  	<!--Notices Fader Begin-->
  	<script type="text/javascript">  	
  		window.setTimeout(function() {  
    		$('.notice').slideUp().fadeOut();  
			}, 2000); 
    		$('.links').popover('show'); 
  	</script>
  	<!--Notices Fader End-->
  	
  	<!--Google Anylytics Begin-->
  	<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33169972-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
	</script>
	<!--Google Anylytics End-->


</head>

<body>
	<!-- Beta declaration -->
<p> <strong>&rarr; Beta &middot; Version &larr;</strong> </p>
	
	
	<div class="body">
	
	<header>
		<hgroup>
			<h1><a href="/"><%= SITE_TITLE %></a></h1>
			<h2><%= SITE_DESCRIPTION %></h2>
		</hgroup>
	</header>

	<!-- Github Ribbon -->
	<a href="https://github.com/malachaifrazier/Notes"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
	<!-- End Ribbon -->

	<div id="main">
		<% if flash[:notice] %>  
    		<p class="notice"><%= flash[:notice] %>  
		<% end %>  
  
		<% if flash[:error] %>  
		    <p class="error"><%= flash[:error] %>  
		<% end %>  
		<%= yield %>

	</div>

<% if session[:access_token] %>

	<footer>
		<p><small>A practice app from <a href="http://net.tutsplus.com">Nettuts+</a></small></p>
		<p><small>Built by <a href="http://about.me/malachai">Malachai Frazier</a></small></p>
		<p><small>Tweet at me <a href="https://twitter.com/#!/captcussa">Here</small></p>
	</footer>

<% end %>
	
	</div>

</body>
</html>